.odd {
    background-color: #f99;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color: #00f;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth {
    background-color: #9f9;
    font-weight: bold;
}