div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* 
Also possible to mix and match with the below:

.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */