body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}



.para {
  font-size: 22px;
}

/* Relocated from above .para
Chaining the two, such as
.para.small-para also would work */
.small-para {
  font-size: 14px;
  font-weight: 800;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* Other than relocating beneath button,
.button.confirm or adjusting to #confirm
would work well too */
.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 


div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

/* Relocated and made descendant.
 */
.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
